body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    font-size: 12px;
}

.right-panel {
    width: 40%; /* Reduce the width to make space for the margin */
    margin-left: 2em; /* Add left margin to move the right panel further to the right */
    padding: 1em;
    background: #f4f4f4;
}


.content {
    display: flex;
    margin-top: 1em; /* Add some space below the header */
    padding: 1em;
}

main {
    flex: 1;
    padding: 1em;
    margin-right: 1em; /* Add space to the right of the main content */
}

.post-summary {
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
}

.post-summary h1 {
    font-size: 20px;
    margin: 0.5em 0 0;
}

.post-summary h2 {
    margin: 0;
}

.post-summary p {
    margin: 0.5em 0 0;
}

.post-summary a {
    font-size: 20px;
}

.tag-section {
    margin-bottom: 1em;
}

.tag-section h2 {
    color: #333;
}

.tag-section .post-summary {
    margin: 0.5em 0;
}

